.text-container-about{
    background-color: #e2984e;
    color: #000000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#title-about{
    text-align: center;
    padding-top: 3vh;
}

.text-about{
    padding-top: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
}