form{
     background-color: rgb(248, 166, 118) !important; 
    width: 70vw;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 5vh;
    margin: 5vh;
    color:rgb(0, 0, 0)
}

.form-control{
background-color: rgb(205, 244, 158);
border-radius: 1.25rem;
  border: 0;
  width: 50vw;
  color: rgb(10, 10, 10);
  padding: .3125rem;
  position: sticky;
  top: .3125rem;
  margin-left: .5rem;
}


#btn-ad{
    background-color: #90f680;
    color: black;
    border-style: none;
    width: 200px;
    margin-left: 15.625rem;
    
}

#btn-ad:hover{
color: white;
background-color: #af80f6;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.container-form{
    display: flex;
    justify-content: center;
    
       
}

#input-description{
height: 20vh;
}


@media (max-width: 600px){
.form-control{
    width: 40vw;
    display: flex;

}

}

