.btn-detail{
    background-color: #039C7E;
    color: white;
    margin-top: -25px;

}
.btn-detail:hover{
    color: white;
    background-color: #af80f6;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }

.stars{
    color:rgb(247, 165, 32);
   
}
input[type = "radio"]{ display:none;}

