.add-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vh;
    margin-top: 10vh;
    margin-right: 2vh;


}

#container-text {
   margin-left: -40px; 
    text-align: center;

    margin-right: 2vw;
    background-color: #cf9de5;
 
    margin-top: 1vh;
    margin-bottom: 20px;


}

.incluid {
    text-decoration: none;
    color: rgb(236, 120, 43)
}

.incluid:hover {
    text-decoration: none;
    color: rgb(22, 98, 51)
}

#img-add {
    margin-top: 1vh;
    width: 30.875rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 2vh;
    margin-bottom: 20px;
    margin-left: 4vw;
    margin-right: 5vw;
    -moz-border-radius: .580rem;
    -webkit-border-radius: .580rem;
    -khtml-border-radius: .580rem;
    padding: .580rem;
    background: #f4b557;

}

#img-add:hover {
    border-style: solid;
    color: rgb(167, 113, 243);
    border-width: 8px;


}

h4 {
    color: #f4f3f2;
}

.description {
    margin-top: 7vh;
    margin-left: 2vh;
    text-align: center;
    margin-right: 2vh;
    color: #f4f3f2;

}

.units {
    margin-top: 3vh;
}

.title-ad {
    color: #f4891e;
}

.price {
    margin-top: 8vh;
    color: #f7f8f7;
}

.btn-buy {
    margin-right: 13.75rem;
    margin-top: 1.25rem;
}


@media (max-width: 600px) {

    .general-container {
        
        display: flex;
        min-height: 100vh;


    }

    #div-exp {

        display: flex;
        min-height: 68.75rem;
        min-width: 48vh;

    }

    #img-add {
        width: 17.875rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 2vh;
        margin-top: 4vh;
        margin-left: 3.125rem;
        display:block;

        
    }

    .title-add {
        position: absolute;
        margin-top: 36vh;
        
        padding-left: 1.5vh;

    }
    

   

    .add-title {
        position: absolute;
        margin-top: 42vh;
        margin-left: 0vh;

    }
    .add-title{
        margin-left: 2vh;
        text-align: center;
       
        margin-right: 2vh;
    
        margin-top: 1vh;
        margin-bottom: 20px;
    
    
    }

    .price {
        position: absolute;
        margin-top: 330px
    }

    .units {
        position: absolute;
        margin-top: 120vh;
        margin-left: 0vh;
    }

    .description {
        position: absolute;
        margin-top: 95vh;
        margin-left: 1vh;
        text-align: justify;
        margin-right: 4vh;

    }
    #container-text {
       
        text-align: center;
        
        background-color: #cf9de5;
        
        width: 500px;
        margin-bottom: 20px;
    
    
    }
   

}

/* @media (max-width: 420px) {

    .general-container {

        display: flex;
        min-height: 100vh;


    }
    #container-text {
        margin-left: 2vh;
        text-align: center;
        margin-top: 7vh;
        margin-right: 2vh;
    
        margin-top: 1vh;
        margin-bottom: 20px;
    
    
    }

    #div-exp {

        display: flex;
        min-height: 68.75rem;
        min-width: 40vh;

    }

    #img-add {
        width: 17.875rem;
        height: 17rem;
        object-fit: cover;
        border-radius: 2vh;
        margin-top: 4vh;
        margin-left: 2;

        position: absolute;
    }

    .title-add {
        position: absolute;
        margin-top: 36vh;
        border-radius: 1vh;
        padding-left: 1.5vh;

    }
    .container-text{
        margin-left: 2vh;
        text-align: center;
        margin-top: 7vh;
        margin-right: 2vh;
    
        margin-top: 1vh;
        margin-bottom: 20px;
    
    
    }

    #logo-location {
        visibility: hidden;

    }

    .add-title {
        position: absolute;
        margin-top: 42vh;
        margin-left: 0vh;

    }

    .price {
        position: absolute;
        margin-top: 17vh;
    }

    .units {
        position: absolute;
        margin-top: 120vh;
        margin-left: 0vh;
    }


    .description {
        position: absolute;
        margin-top: 70vh;
        margin-left: 1vh;
        text-align: justify;
        margin-right: 4vh;
        margin-bottom: 2vh;

    }
    .btn-buy {
        margin-top: 908px;
     }

} */


/* @media (max-width: 390px) {

    .general-container {

        display: flex;
        min-height: 100vh;


    }

    #div-exp {

        display: flex;
        min-height: 68.75rem;
        min-width: 39vh;

    }

    #img-add {
        width: 17.875rem;
        height: 17rem;
        object-fit: cover;
        border-radius: 2vh;
        margin-top: 4vh;
        margin-left: 2rem;

        position: absolute;
    }


    .title-add {
        position: absolute;
        margin-top: 36vh;
        border-radius: 1vh;
        padding-left: 1.5vh;

    }

    #logo-location {
        visibility: hidden;

    }
    .container-text{
        margin-left: 2vh;
        text-align: center;
        margin-top: 7vh;
        margin-right: 2vh;
    
        margin-top: 1vh;
        margin-bottom: 20px;
    
    
    }

    .add-title {
        position: absolute;
        margin-top: 42vh;
        margin-left: 0vh;

    }

    .price {
        position: absolute;
        margin-top: 17vh;
    }

    .units {
        position: absolute;
        margin-top: 120vh;
        margin-left: 0vh;
    }


    .description {
        position: absolute;
        margin-top: 70vh;
        margin-left: 1vh;
        text-align: justify;
        margin-right: 4vh;


    }
    .btn-buy {
        margin-top: 908px;
     }

} */