
.container-card{
   margin-top: 30px;
	display: flex;
	max-width: 1300px;
	margin: auto;
    background-color: #ead748;
}
.title-cards{
	width: 100%;
    max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #f4edf3;
}
.card{
	max-width: 100%;
    height: 100%;
	
	border-radius: 6px;
	overflow: hidden;
	background:#f3cbf3;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
    background-color: #859d79;
}
.card img{
	width: 100%;
	height: 210px;
    
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
    
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #0b0b0b;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #090909;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #090a0a;
	border: 2px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #b17cbc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}