.Logo{
    width: 8vw !important;
    padding-right: 1.25rem;
    margin-right: 1.25rem;
    
      
  }
  
  #cart{
    cursor: pointer;
    padding: 0 3px;
    text-decoration: none;
    color: rgb(1, 1, 1);
    font-weight: bolx;
    margin-left: 1.875rem;
    position: relative;
    top:-5px;
   

  }
  
  .navigation{
   background-image: url(https://static.vecteezy.com/system/resources/previews/006/413/042/non_2x/gradient-abstract-background-you-can-use-this-background-for-your-content-like-as-video-game-qoute-promotion-blogging-template-presentation-education-sports-card-banner-website-and-anymore-free-vector.jpg)!important;
   
    
    
  }
  
  .text-navbar{
    color: #030303 !important;
    margin-inline-start: .3125rem;
    margin-left: 28vh;
    font-size: larger;
    text-decoration: none;
    
  }
  .cart {
    cursor: pointer;
    margin-left: 6.25rem;
  }
  .cart span:nth-child(1) {
    font-size: 2rem;
    color: rgb(5, 5, 5);
  }
  .cart span:nth-child(2) {
    padding: 0 .1875rem;
    background-color: rgb(18, 185, 110);
    color: rgb(10, 10, 10);
    font-weight: bolx;
    border-radius: .3125rem;
    position: relative;
    top: -0.9375rem;
  }
  
  
  #responsive-navbar-nav{
    color: #090909 !important;
    
  }
  
  
  