.slogan{
   
   background-image: url(https://i.pinimg.com/736x/26/88/f9/2688f94cd55dfc9cac0a32b26b2efba8.jpg);
   
   
   color:rgb(0, 0, 0);
   height: 8.125rem;
   text-align: center;
   font-size:3.75rem;
   padding-top: 1.5625rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 600px){
   .slogan{
      font-size:2.5rem;
   
   }
}
