*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.body{
  background-color: #080808;
  min-height: 100vh;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  font-family:monospace;
 color: antiquewhite;
  
}
@media (max-width: 414px) {
  #btn{
    margin-left: 20px;

}
}
@media (max-width: 395px) {
#btn{
    margin-left: 20px;

}
}
@media (max-width: 650px){
  #btn{
    margin-left: 20px;

}
}




    
 
  