* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.body {
  background-color: #080808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color: antiquewhite;

}

@media (max-width: 414px) {
  #btn {
    margin-left: 20px;

  }
}




    
 
  