* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.body {
  background-color: #080808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color: antiquewhite;

}
#btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px; 
  margin-bottom: 10px;
}

 @media (max-width: 374px) {
  #btn {
    margin-left: -40px;
    


  }
} 




    
 
  